body {
  background: #242526;
  color: #FAF9F6;
  font-family: sans-serif;
  margin: auto;
  width: 80%;
}

a {
  color: #30D5C8;
}

img {
  float: right;
  border: 1px solid white;
}

button {
  padding: 0px;
}

.top-section {
  font-family: monospace;
}

.about-section {
  font-family: courier;
}

.italic {
  font-style: italic;
}
