/*

use typography styles, the box model (including margin, border, and padding), and floats

margin
border
padding

*/

body {
    background: #242526;
    color: #FAF9F6;
    font-family: sans-serif;
}

a {
    color: #30D5C8;

}

img {
    float: right;
}

.top-section {
    font-family: monospace;
}

.about-section {
    font-family: courier;
}

.italic {
    font-style: italic;
}
