* {
  margin: 0;
}

body {
  background: black;
  color: #FAF9F6;
  font-family: sans-serif;
  margin-top: 20px;
  margin: auto;
  width: 80%;
}

h1 {
  margin: 0;
}

a {
  color: #30D5C8;
}

img {
  float: right;
  border: 1px solid white;
}

button {
  padding: 0px;
}

.top-section {
  font-family: monospace;
}

.about-section {
  font-family: courier;
}

.italic {
  font-style: italic;
}
